doctype html 
html
    head
        title visitors
    body
        h1 Thank you
        p ID: #{id} | NAME: #{name} | AGE: #{age} | DATE: #{date} | TIME: #{time} | ASSISTOR: #{assistor} | COMMENTS: #{comments}
        